<div data-hook="admin_currency_form_fields">
  <div data-hook="name" class="form-group">
    <%= f.label :name, Spree.t(:name) %>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>

  <div data-hook="exchange_rate" class="form-group">
    <%= f.label :exchange_rate, Spree.t(:exchange_rate) %>
    <%= f.text_field :exchange_rate, :class => 'form-control' %>
  </div>
</div>

